.links {
  position: fixed;
  width: 98%;
  padding: 15px 20px;
  background-color: rgb(72, 72, 78);
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
}

a {
  margin: 0px 10px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
a:hover {
  color: rgb(239, 229, 153);
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .links {
    display: flex;
    justify-content: center;
  }
}
