.links {
  position: fixed;
  width: 98%;
  padding: 15px 20px;
  background-color: #2d94f3;
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
}

a {
  margin: 0px 30px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
a:hover {
  color: rgb(66, 64, 64);
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .links {
    display: flex;
    justify-content: center;
  }
}
