.header {
  display: flex;
  flex-direction: column;
}

.heading {
  height: 200px;
  font-size: 34px;
  text-align: center;
  background-color: #95bee7;
  background-position: 30px;
  color: white;
}
.heading:hover {
  color: rgb(66, 64, 64);
}

@media screen and (max-width: 600px) {
  .heading {
    padding-bottom: 30px;
  }
}
