.projects_details_wrapper {
  margin: 30px 150px 30px 150px;
}

.projects_wrapper {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.project_wrapper--card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  box-shadow: 0px 2px 2px 2px #95bee7;
  margin: 80px 0px;
  padding: 20px;
}

.project-icon {
  width: 40vw;
  height: 40vh;
  margin: 0px 20px 10px 0px;
}

.project_text {
  line-height: 3;
}

li > a {
  border: 1px solid white;
  border-radius: 8px;
  background-color: #2d94f3;
  padding: 5px 15px;
  font-size: 14px;
  color: white !important;
}

img {
  transition: transform 2s;
}
img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  .projects_details_wrapper {
    margin: 50px 20px 10px 20px;
  }
  .project_wrapper--card {
    display: flex;
    flex-direction: column;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 0px 2px 2px 2px rgb(218, 219, 194);
    padding: 15px;
  }
  .project-icon {
    width: 65vw;
  }
  img {
    transition: none;
  }
  img:hover {
    transform: none;
  }
}
